{% extends 'fizzbuzz/base.html' %}

{% block content %}
    <p>Welcome to the developer certification program!</p>
    <p>Using this Official Developer Certification Program you will learn important development topics and have the
    chance to become certified in each topic after testing.</p>

    <p>The following is a list of lessons available for certification</p>

    <ul>
        {% for lesson in lessons %}
            <li><a href="{% url 'lesson' topic=lesson.topic.name %}">{{ lesson.topic.name }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}