{% extends 'fizzbuzz/base.html' %}

{% block title %}{% block page_title %}Developer Certification{% endblock %}{% endblock %}
{% block subtitle %}{% endblock %}

{% block content %}
    <p>Welcome to the developer certification program!</p>
    <p>Using this Official Developer Certification Program you will learn important development topics and have the
    chance to become certified in each topic after testing.</p>

    <p>The following is a list of lessons available for certification</p>

    {% for lesson in lessons %}
        <h2 class="content-subhead"><a href="{% url 'lesson' topic_name=lesson.topic.name %}">{{ lesson.topic.name }}</a></h2>
    {% endfor %}
{% endblock %}
