{% extends 'fizzbuzz/base.html' %}

{% block title %}{% block page_title %}Test{% endblock %}{% endblock %}
{% block subtitle %}{{ test.topic.name }}{% endblock %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'codemirror/css/codemirror.css' %}"/>
    <script type="text/javascript" src="{% static 'codemirror/js/codemirror.js' %}"></script>
    <script type="text/javascript" src="{% static 'codemirror/js/python.js' %}"></script>
    <script type="text/javascript" src="{% static 'codemirror/js/form_input.js' %}"></script>

    <p>{{ test.content }}</p>

    <div>
        <form action="{% url 'test' topic_name=test.topic.name %}" method="post" id="codemirror-form">
            {% csrf_token %}
            {{ form }}
            <input class="pure-button" type="submit" value="Submit" />
        </form>
    </div>

    {% if correct is True %}
        <p>Test passed!</p>
        {% if is_student is True %}
            <p>Click here to get certificate.</p>
        {% elif is_student is False %}
            <p>You're not a registered student but you may still enter your name to receive a certificate for passing.</p>
            <a class="pure-button" href="{% url 'get_guest_certificate' topic_name=test.topic.name %}">Get certificate here!</a>
        {% endif %}
    {% elif correct is False %}
        <p>Test failed.</p>
        {{ result }}
    {% endif %}

{% endblock %}
